.title h1, .title h1 {
  font-weight: 300;
}

.title button {
  background: orange;
  padding: .5rem 1rem;
  font-size: small;
  cursor: pointer;
}

.info button {
  width: 100px;
  background-color: teal;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}